<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>소셜로그인 예제</title>
</head>

<body>
<div>
    <!-- 카카오 로그인 -->
    <p><a th:href="@{|${kakaoUrl}|}">
        <img th:src="@{/kakao/img/kakao_login_medium_narrow.png}" style="width:150px; height:40px;" alt="카카오로그인">
    </a></p>

    <!-- 네이버 로그인 -->
    <p><a th:href="@{|${naverUrl}|}">
        <img th:src="@{/naver/img/naver_login_medium_narrow.png}" style="width:150px; height:40px;" alt="네이버로그인">
    </a></p>

    <!-- 애플 로그인 -->
    <p><a th:href="@{|${appleUrl}|}">
        <img th:src="@{/apple/img/appleid_button2x.png}" style="width:150px; height:40px;" alt="애플로그인">
    </a></p>
</div>

</body>
</html>
